.artworkSeries{
    
    &-header{
        &-image{
            width: 32px;
            height: 32px;
        }
    }
    &-group{
        width: 100%;
        @include media-breakpoint-up(lg){
            width: auto;
        }
    }
    &-group-item{
        flex-grow: 1;
        padding: 16px 8px;
        &:not(:last-child){
            border-right: 1px solid #000;
            border-image: linear-gradient(to bottom, black 25%, 25%, white 75%, 75%, black) 1;
        }
        >:nth-child(2){
            line-height: 26px;
        }
        > *{
            width: 68px;
            @include media-breakpoint-up(lg){
                width: 88px;    
            }
            margin: 0 auto;
            @media (max-width:320px) {
                width: auto;
            }
        }
        
    }
    .fa-ethereum{
        padding-right: 4px;
    }
}

.offcanvas-lg{
    width: 100vw !important;
}

.filter{

    @include media-breakpoint-up(lg){
        border: 1px solid #000;
    }
    .border-filter{
        border-bottom: 2px solid #bfbfbf;
    }
    .accordion-body{
        padding-top: 0;
        padding-left: 0px;
        padding-right: 0px;
        @include media-breakpoint-up(lg){
            padding-left: 24px;
            padding-right: 24px;
        }
    }
    .accordion-button{
        padding-bottom: 16px;
        padding-left: 0px;
        padding-right: 0px;
        @include media-breakpoint-up(lg){
            padding-left: 24px;
            padding-right: 24px;
        }
    }
    .accordion-button:not(.collapsed)::after {
        background-image: none;
    }
    .accordion-button::after {
        background-image: none;
        font: var(--fa-font-solid);
        content: "\f107";
        text-align: center;
    }
    
    .form-check{
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        padding-left: 0;
        &-label{
            flex-grow: 1;
            margin-right: 1.5rem;
        }
        &-input{
            border: 1px solid #000;
        }
        &:not(:last-child){
            padding-bottom: 8px;
        }
    }   
    
    .accordion-group .accordion-item{
        .accordion-button{
            padding-top: 0;
        }
    }
}

.btn-filter{
    position: fixed;
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
}
