.artwork-header{
    .h1{
        font-size: 32px;
        @include media-breakpoint-up(lg){
            font-size: 48px;
        }
    }
    .card > *{
        padding: 24px 16px;
        @include media-breakpoint-up(lg){
            padding: 32px 40px;
        }
    }
    .card-header{
        padding-top: 16px;
    }
    &-image{
        aspect-ratio: 1.16;
        object-fit: cover;
    }
    
}

.artwork-body{
    .collapse-item{
        background: #FFF;
        
        &-header{
            font-weight: bold;
            font-size: 16px;
            border: 1px solid #000;
        }
        
        .collapse-button{
            font-weight: bold;
            width: 100%;
            padding: 16px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            
            @include media-breakpoint-up(lg){
                padding: 24px;
            }
            &::after{
                font: var(--fa-font-solid);
                content: "\f107";
                transition: transform 0.35s;     
            }
            
            &:not(.collapsed)::after{
                transform: rotate(180deg);
            }
        }
        
        .collapse-item-body{
            border-bottom: 1px solid #000;
            border-left: 1px solid #000;
            border-right: 1px solid #000;            
        }
        
        .collapse:not(.show){
            .collapse-item-body{
                border-bottom: none;
            }
        }
    }
}

.artwork-table{
    width: 100%;
    margin: 0;
    thead{
        th{ 
            padding: 0;
        }
        th > p{
            @media (max-width:340px) {
                padding: 8px 0;
                // text-align: center;
            }
            background: #F0F0F0;
            padding: 8px 16px;
            margin-bottom: 8px;
        }
    }
    
    tbody{
        tr > *{
            padding: 0;
            padding-bottom: 16px;
        }
        tr:nth-last-child(1) > * {
            padding-bottom: 8px;
        }
    }    
    
    td,th{
        border: none;
        @media (max-width:340px) {
                padding-left: 0 !important;
                padding-right: 0 !important;
        }
        
    }
    
}

.otherArtworks{
    .card-image img{
        aspect-ratio: 0.72;
    }
    .card .h3{
        font-size: 14px;
        font-weight: normal;
        @include media-breakpoint-up(lg){
            font-size: 16px;
        }
    }
}