.header_nav{
    position: relative;
    padding-top: 7px;
    padding-bottom: 6px;
    @include media-breakpoint-up(md){
        .col:not(:last-child){
            border-right: 1px solid #000;
        }
    }
    
    .nav-logo{
        width: 85px;
        @include media-breakpoint-up(md){
            width: auto;
        }
    }
    
    .nav-search-input{
        width: auto;
        flex-grow: 1;
        height: 36px;
        z-index: 5;
    }
    
    .fa-magnifying-glass{
        font-size: 18px;
        @include media-breakpoint-up(md){
            font-size: 24px;
        }
    }
    
    .nav-searchBar-mobile{
        padding-top: 7px;
        padding-bottom: 6px;
        display: flex;
        background: $body-bg;
        top: 0;
        left: 0;
        width: 100%;
        transition: all 0.3s;
        @include media-breakpoint-up(md){
            display: none;
        }
        &:not(.show){
            left: -100%;
        }
    }
    
    .nav-btn-bars{
        @include media-breakpoint-up(md){
            display: none;
        }
    }
    
    .nav-collapse{
        background: white;
        position: absolute;
        width: 100%;
        margin-top: 1px;
        top:100% ;
        left: 0;
        z-index: 5;
        @include media-breakpoint-up(md){
            background: transparent;
            position: static;
            width: auto;
            margin-top: 0;
        }
    }
    
    .nav-list{
        @include media-breakpoint-up(md){
            display: flex;
        }
    }
    
    .nav-item{
        &:nth-child(1){
            border-bottom: 1px solid #000;
            @include media-breakpoint-up(md){
                border-bottom: none;
            }
        }
        
        @include media-breakpoint-up(md){
            flex-grow: 1;
            &:not(:last-child){
                border-right: 1px solid #000;
            }
        }
    }
    
    .link-wallet{        
        @include media-breakpoint-up(md){
            display: none;            
        }
        &-md{
            display: none;
            @include media-breakpoint-up(md){
                display: block;            
            }
        }
    }   
    .collapse:not(.show){
        @include media-breakpoint-up(md){
            display: block;
        }
    } 
}

.wallet-modal,.collapseWallet{
    
    .btn-check:checked ~ .label-wallet{
        border: 1px solid $orange;
        background: white;
        color: #000;
        box-shadow: none;
        box-shadow: 0 0 $input-btn-focus-blur $input-btn-focus-width rgba($orange, $input-btn-focus-color-opacity);
        
        .fa-check{
            display: block;
            
        }
    } 
    
    .label-wallet{
        font-family: "Squada One";
        padding: 16px;
        display: flex;
        align-items: center;
        &:hover,&:focus,&:active{
            border: 1px solid $orange;
            background: white;
            color: #000;
            box-shadow: none;
        }
        .fa-check{
            display: none;
            color: $orange;
        }
        
    }
    .wallet-icon{
        width: 16px;
        height: 16px;
        display: inline;
    }
}

.collapseWallet{
    
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    .card{
        height: 100vh;
    }
}