.ranking{
    &-item-{
        &nft{
            font-weight: bold;
        }
        &image{
            width: 48px;
            height: 48px;
            object-fit: cover;
        }
        &marketCap, &24h, &7d, &priceFloor, &owners, &amount{
            font-family: $squada;
            font-size: 20px;
        }
    }
    
    .plus{
        color: $success;
    }
    .minus{
        color: $orange;
    }
}

.ranking-pc{
    .ranking-head{
        background: transparent;
        &:not(.ranking-head-nft){
            text-align: right;
        }
    }
    
    tbody > tr{
        border-right: 1px solid #000;
        border-left: 1px solid #000;
    }
    
    tbody > tr > td:not(.ranking-item-nft){
        text-align: right;
    }
    
    counter-reset: rankingPcNumber;  // rowNumber(計數器名字)歸零
    .ranking-item-number{
        font-size: 24px;    
        font-family: $paytone;
        border-right: 1px solid #000;
        &::before{
            counter-increment: rankingPcNumber; //隨著此標籤遞增的計數器
            content: counter(rankingPcNumber);
        }
    }
}

.ranking-mobile{
    counter-reset: rankingMobileNumber;  // rowNumber(計數器名字)歸零
    .ranking-item-{
        &number{
            &::before{
                text-align: center;
                width: 22px;
                font-size: 24px;    
                font-family: $paytone;
                counter-increment: rankingMobileNumber; //隨著此標籤遞增的計數器
                content: counter(rankingMobileNumber);
            }
        }
        
        &button{
            position: absolute;
            color: white;
            bottom: 0;
            right: 0;
            background: #000;
            position: absolute;
            width: 32px;
            height: 32px;
            clip-path: polygon(0 32px,32px 0,32px 32px);
            display: flex;
            justify-content: end;
            align-items: end;
            
            
            > *{
                font-size: 10px;
                padding-bottom: 4px;
                padding-right: 4px;
            }
        }
        
        
        &collapse{
            position: relative;
            top: 100%;
            left: 0;
        }
        &table{
            .ranking-head{
                font-size: 14px;
                width: calc(100% / 3);
            }
        }
    }
}