body{
    display: flex;
    flex-direction: column;
    min-height: 100VH;
}

main{
    flex: 1;
}

// p,h1,h2,h3,h4,h5,h6{
//     margin: 0 ;
// }

ol,ul {
    padding-left: 0;
    margin: 0;
}

ul{
    list-style-type: none;
}

img {
    max-width: 100%;  //圖片可以隨視窗縮放
    height: auto;
    display: block;
}

a{
    text-decoration: none;
}
