.btn-primary{
    background: $orange;
    color: #fff;
    &:hover {
        color: #000;
        background-color: inherit ;
        font-weight: bold;
    }
}

.btn-triangle{
    font-family: $squada;
    border: 1px solid #000;
    padding: 8px 48px;
    font-size: 18px;
    line-height: 19px;
    position: relative;
    &::after{
        position: absolute;
        content: "";
        border: 8px solid $orange;
        border-left: 8px solid transparent;
        border-top: 8px solid transparent;
        right: 0;
        bottom: 0;
    }
    &:hover{
        border: 1px solid #000;
        color: #fff;
        background-color: $orange;
        &::after{
            border: 8px solid black;
            border-left: 8px solid transparent;
            border-top: 8px solid transparent;
        }
    }
    &-w{
        background: #fff;
        &:hover{
            background: $orange;
        };
    }
}
