$squada: 'Squada One', cursive ;

$paytone: 'Paytone One';

.font-squada{
    font-family: $squada;
}

.vertical-lr{
    writing-mode: vertical-lr;
}

.fit-cover{
    height: 100%;
    object-fit: cover;
}

.rtl{
    direction: rtl;
}

.pic-sm{
    width: 32px;
    height: 32px;
}

.pic-xs{
    width: 24px;
    height: 24px;
}