$squada: 'Squada One', cursive ;

$paytone: 'Paytone One';

.font-squada{
    font-family: $squada;
}

.vertical-lr{
    writing-mode: vertical-lr;
}

.fit-cover{
    height: 100%;
    object-fit: cover;
}